# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\06 Diplomado Software Testing\3 module\01 Projects\Projects\02 BDD - Mobile\Group4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
